<!-- logo -->
<a href="#" class="header__logo-box">
    <img class="header__logo" src="../../../assets/img/logo.png" alt="">
</a>
<!-- user options -->
<div class="header__user-options">
    <!-- login control -->
    <a href="#" class="link">Login</a>
    <div class="dropdown">
        <div class="dropdown__header">
            <div class="image image--small image--circle" style="background-image: url('../../../assets/img/PersonalImage.png')">
            </div>
        </div>
        <div class="dropdown__body">

        </div>
    </div>
    <!-- shopping card dropdown -->
    <!-- dropdown--opened to open -->

    <div class="dropdown dropdown--left" [ngClass]="{'dropdown--opened': cartIsOpen}" (click)="cartIsOpen=!cartIsOpen">
        <!-- header -->
        <div class="dropdown__header">
            <div class="image image--small" style="background-image: url('../../../assets/img/icons/download.png')">
                <div class="notification notification--danger">
                    {{productDetails.itemsNumber}}
                </div>
            </div>
        </div>
        <!-- body -->
        <div class="dropdown__body">
            <!-- items -->
            <ul class="dropdown__items list list--vr-separator">

                <li *ngFor="let product of productDetails.products let i=index" class="dropdown__item list__item">
                    <!-- item small 2 -->
                    <div class="item-small-1">
                        <!-- item data -->
                        <div class="item-small-1__data">
                            <!-- title -->
                            <a href="" class="item-small-1__title"> {{product?.name}} x{{product?.qnty}} </a>
                            <!-- price -->
                            <span class="item-small-1__description">

                                   {{product.discount? (product.price-product.discount)*product.qnty: product.price*product.qnty}}
                                </span>
                        </div>
                        <!-- item image -->
                        <div class="item-small-1__image-box">
                            <a href="#" class="item-small-1__image image" [attr.style]="'background-image: url('+product.imageUrl">
                            </a>
                            <a (click)="delete(i)" href="#" class="item-small-1__action">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- totals -->
            <div class="separator"></div>
            <div class="block">
                <span class="lable">Total:</span>
                <span class="lable">${{ productDetails.Total }}</span>
            </div>
            <!-- actions -->
            <div class="block list list--hr">
                <a class="list-item btn btn--gray" href="">View Cart</a>
                <a class="list-item btn btn--primary" href="">Checkout</a>
            </div>
        </div>
    </div>
</div>